<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>首页</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/frontpage.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}js/fontAuto.js"></script>
    <script>
        var msg = "{{ msg }}";
        if (msg.length > 0) {
            alert(msg);
        }
    </script>
</head>
<body>
<div class="frontpage-warp">
    <div class="fp-header">
        <div class="fp-rightheader">
            <div class="fp-leftheader">
                <span style="width: 15px;line-height: 20px;display: block">科目</span>
            </div>
            {{ course }}
        </div>
        <a
                style="float: right;margin-top: 10px;color:#fff;background:#FD471E;line-height:
                30px;padding:0px 3px;border-radius: 3px"
           href="/logout">退出登录</a>
    </div>
    <div class="fp-contain">
        <div class="fp-blcok">
            <a class="ft-convince-btn" href="/problem?level=1">要点练习</a>
        </div>
        <div class="fp-blcok">
            <a class="ft-country-btn" href="/problem?level=0&look_type=1">顺章练习</a>
        </div>
        <div class="fp-blcok">
            <a class="ft-test-btn" href="/exams">模拟考试</a>
        </div>
        <div class="fp-blcok">
            <a class="error-btn" href="/exams/error/">
                <img src="{{STATIC_URL}}images/common/error-title.svg" class="error-img"/>
                错题集
            </a>
        </div>
    </div>
</div>

<!--<script>-->
    <!--function error_remind() {-->
        <!--alert("开发中...敬请期待");-->
    <!--}-->
<!--</script>-->
</body>
</html>