<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>首页</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/frontpage.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}js/fontAuto.js"></script>
</head>
<body>
<div class="frontpage-warp">
    <div class="fp-header">
        <div class="fp-rightheader">
            <div class="fp-leftheader"><span style="width: 15px;line-height: 20px;display: block">科目
        </span></div>
            叉车司机</div>
    </div>
    <div class="fp-contain">
        <div class="fp-blcok">
            <div class="ft-convince-btn">省内题库</div>
        </div>
        <div class="fp-blcok">
            <div class="ft-country-btn">国家题库</div>
        </div>
        <div class="fp-blcok">
            <div class="ft-test-btn">模拟考试</div>
        </div>
        <div class="fp-blcok">
            <div class="error-btn">
                <img src="./images/common/error-title.svg" class="error-img"/>
                错题集
            </div>
        </div>
    </div>
</div>
</body>
</html>