<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>登陆</title>
		<link rel="stylesheet" href="{{STATIC_URL}}css/common.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/login.css" />
		<script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
		<script src="{{STATIC_URL}}js/fontAuto.js"></script>
        <script src="{{STATIC_URL}}js/baidutongji.js"></script>
	</head>
	<body>
        <form action="/" method="post"> {% csrf_token %}
            <div class="login-contain">
			<div class="control-label">
				<input type="text" name="account" class="form-control form-default fa-user" placeholder="请输入用户名" />
			</div>
			<div class="control-label">
				<input type="password" name="password" class="form-control form-default fa-pwd" placeholder="请输入密码" />
			</div>
			<div class="control-span">
				<a href="##">申请账号</a>
				<a href="##">忘记密码？</a>
			</div>
			<div class="control-button">
				<input type="submit" class="form-submit" value="登陆" />
			</div>
		</div>
        </form>

	</body>
</html>
