<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style type="text/css">
        * {
            margin:0;
            padding: 0;
        }

        body {
            width: 1000px;
            height: 1000px;
            margin: 0 auto;
        }

        .content {
            width: 200px;
            height: 180px;
            margin-top: 200px;

        }
    </style>
</head>
<body>
    <form class="content" action="/" method="post"> {% csrf_token %}
        账号：
        <input type="text" name="account">
        <br>
        密码：
        <input type="password" name="password">
        <br>
        <input type="submit" value="登录">
    </form>
</body>
</html>