<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>习题</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/common.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/welcome.css" />
	<script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
	<script src="{{STATIC_URL}}js/fontAuto.js"></script>
	<script src="{{STATIC_URL}}js/common.js"></script>
</head>
<body>
<div class="wel-head">
	<input type="text"  value="{{level}}" style="display: none" id="leveldata"/>
	<div class="select">
		<div class="select-default"></div>
		<select class="form-select" id="chapterlist" onchange="getChapterNumber()">
		</select>
	</div>
	<a style="display: inline-block;vertical-align: middle;margin-left: 1rem" href="/logout">退出</a>
	<div class="welmain-btn" id="welmainbtn">
		<button onclick="selectAll(0)" class="topicTypebtn_active">全部</button>
		<button onclick="selectSingle(1)" class="topicTypebtn">单选题</button>
		<button onclick="selectMulti(2)" class="topicTypebtn">多选题</button>
		<button onclick="selectJuage(3)" class="topicTypebtn">判断题</button>
	</div>
</div>
<div class="wel-main">
	<h2 id="titleNum">第一题：</h2>
    <div id="totalcount" class="totalcount"></div>
	<div class="wel-main-contain">
		<p id="title"></p>
		<img src="" alt="没有图片" id="titleImage" style="color:#FD471E"/>
		<ul class="wel-contain-option" id="titleOption">
		</ul>
	</div>
	<div class="wel-main-answer" id="answer"></div>
	<!--<div class="wel-main-nextparent">-->
	<!---->
	<!--</div>-->
	<div class="wel-main-nextparent2">
		<input type="button" class="wel-main-next" value="第一题" onclick="switchFirst()"/>
		<input type="button" class="wel-main-next" value="上一题" onclick="switchPre()"/>
		<input type="button" class="wel-main-next" value="下一题" onclick="switchNext()"/>
		<input type="button" class="wel-main-next" value="最后一题" onclick="switchLast()"/>
	</div>
</div>
<div class="notitle">暂无本类题型</div>

<div class="modal1" id="modal1">
	<div class="loading">
		<img src="{{STATIC_URL}}images/common/loading.gif" alt=""/>
	</div>
</div>
</body>
<script>
    /**
     * Created by zdzmac on 2017/7/8.
     */
    var level = $("#leveldata").val();
    $(function () {
        dataList = '';
        chapter = "";
        //$("#chapterlist option:first").prop("selected", 'selected');
        //$('#chapterlist').find('option').eq(0).attr("selected","selected");
    });

	/*
	 页面点击函数
	 */

    function selectAll(index) {
        controlBtn(index);
        var url = '/problem/list/?chapter=' + chapter + '&level=' + level;
        submitInfo(url);
    }//全部
    function selectSingle(index) {
        controlBtn(index);
        var url = '/problem/list/?page=1&category=0&chapter=' + chapter + '&level=' + level;
        submitInfo(url);
    }//单选题
    function selectMulti(index) {
        controlBtn(index);
        var url = '/problem/list/?page=1&category=2&chapter=' + chapter + '&level=' + level;
        submitInfo(url);
    }//多选题
    function selectJuage(index) {
        controlBtn(index);
        var url = '/problem/list/?page=1&category=1&chapter=' + chapter + '&level=' + level;
        submitInfo(url);
    }//判断题
    function switchLast() {
        var url = '/problem/list/?page='+ count +'&category=' + categoryNum +'&chapter=' + chapter + '&level=' + level;
        submitInfo(url);
    }//最后一题
    function switchFirst() {
        var url = '/problem/list/?chapter='+chapter+'&category='+categoryNum + '&level=' + level;
        submitInfo(url);
    }//第一题
    function switchPre() {
        if(previousTitle != null){
            submitInfo(previousTitle);
        }
    }//上一题
    function switchNext() {
        if(nextTitle != null){
            submitInfo(nextTitle);
        }
    }//下一题

	/*
	 获取选中章节
	 */
    function getChapterNumber() {
        chapter = $('#chapterlist option:selected').val();
        if(chapter == undefined){
            chapter = 0;
        }else{
        }
        selectAll(0);
        return chapter;
    }

	/*
	 切换题目
	 */
    function submitInfo(url) {
        $("#modal1").css("display","block");
        $.ajax({
                type:"GET",
                url:url,
                success : function (resopnse) {
                    $("#titleOption").empty();
                    if(resopnse.count == 0){
                        $(".notitle").css("display","block");
                        $(".wel-main").css("display","none");
                        $("#modal1").css("display","none");
                    }else{
                        $(".wel-main").css("display","block");
                        $(".notitle").css("display","none");
                        var imgSrc = resopnse.results[0].images;
                        var Option = resopnse.results[0].choices;
                        var answer = resopnse.results[0].answers;
                        var titlestr = resopnse.results[0].title;
                        var titles  = titlestr.substr(1);
                        var title = titles.split("、");
                        var titlesub = "";
                        for(var i =1; i<title.length;i++){
                            titlesub+=title[i];
                        }
                        nextTitle = resopnse.next;
                        previousTitle = resopnse.previous;
                        count = resopnse.count;
                        if(nextTitle != null){
                            categoryNum = GetRequesttitle(nextTitle);
                            var titleNum = GetRequest(nextTitle) - 1;
                        }else{
                            categoryNum = GetRequesttitle(previousTitle);
                            var titleNum = GetRequest(previousTitle) - (-1);
                        }
                        if(imgSrc != null){
                            $('#titleImage').css('display','block');
                            $('#titleImage').attr('src',imgSrc);
                        }else{
                            $('#titleImage').css('display','none');
                        }
                        for(var i = 0; i<Option.length; i++){
                            $("#titleOption").append('<li class="clearfix"><span>'+ Option[i] +'</span></li>');
                        }
                        $("#title").text(titlesub);
                        $('#answer').text('正确答案：'+ answer);
                        $('#totalcount').text('总共：'+ count + '题');
                        $('#titleNum').text('第 ' + titleNum + ' 题：');
                        $("#modal1").css("display","none");
                    }

                }
            }
        )
    }


	/*
	 获取章节列表
	 */
    function chapterList() {
        $.ajax({
            type:"GET",
            url:"/problem/chapters/list?level=" + level ,
            success: function (response) {
                var chapterlist = response.results;
                for(var i=0;i<chapterlist.length;i++){
                    $("#chapterlist").append('<option value="'+ chapterlist[i].num +'">'+ chapterlist[i].name+'</option>');
                }
                // $('#chapterlist option:first').attr('selected','selected');
                // $('#chapterlist').find('option').eq(0).attr("selected","selected");
                // chapter = 0;
            }
        })
    }


	/*
	 解析url中的page值，显示题号
	 */
    function GetRequest(url) {
        var url = url;
        if (url.indexOf("?") != -1)
        {
            var str = url.substr(1);
            strs = str.split("=");
        }
        if(strs[3] == undefined){
            return strs[2];

        }else{
            return strs[3];

        }

    }

	/*
	 正则解析url
	 */

    function GetQueryString(name,url)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = url.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }

	/*
	 解析url中的题型值
	 */
    function GetRequesttitle(url) {
        var url = url;
        if (url.indexOf("?") != -1)
        {
            var str = url.substr(1);
            strss = str.split("=");
        }
        console.log(strss[3]);
        if(strss[3] == undefined){
            var value = strss[1].replace(/[^0-9]/ig,"");
            return value;

        }else{
            var value = strss[1].replace(/[^0-9]/ig,"");
            return value;

        }

    }

	/*
	 头部按钮样式控制
	 */

    function controlBtn(index) {
        $("#welmainbtn button:eq(" + index + ")").addClass('topicTypebtn_active').removeClass("topicTypebtn");
        $("#welmainbtn button:eq(" + index + ")").siblings().addClass('topicTypebtn').removeClass("topicTypebtn_active");
    }

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }






</script>
</html>



