<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>习题</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/common.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/welcome.css" />
</head>
<body>
<div class="wel-head">
	<div class="select">
		<div class="select-default"></div>
		<select class="form-select" id="chapterlist" onchange="getChapterNumber()">
		</select>
	</div>
	<div class="welmain-btn" id="welmainbtn">
		<button onclick="selectAll(0)" class="topicTypebtn_active">全部</button>
		<button onclick="selectSingle(1)" class="topicTypebtn">单选题</button>
		<button onclick="selectMulti(2)" class="topicTypebtn">多选题</button>
		<button onclick="selectJuage(3)" class="topicTypebtn">判断题</button>
	</div>
</div>
<div class="wel-main">
	<h2 id="titleNum">第一题：</h2>
    <div id="totalcount" class="totalcount"></div>
	<div class="wel-main-contain">
		<p>根据以下现象选择正确的观点：</p>
		<img src="" alt="没有图片" id="titleImage" style="color:#FD471E"/>
		<ul class="wel-contain-option" id="titleOption">
		</ul>
	</div>
	<div class="wel-main-answer" id="answer"></div>
	<!--<div class="wel-main-nextparent">-->
	<!---->
	<!--</div>-->
	<div class="wel-main-nextparent2">
		<input type="button" class="wel-main-next" value="第一题" onclick="switchFirst()"/>
		<input type="button" class="wel-main-next" value="上一题" onclick="switchPre()"/>
		<input type="button" class="wel-main-next" value="下一题" onclick="switchNext()"/>
		<input type="button" class="wel-main-next" value="最后一题" onclick="switchLast()"/>
	</div>
</div>
<div class="notitle">暂无本类题型</div>
</body>
<script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
<script src="{{STATIC_URL}}js/fontAuto.js"></script>
<script src="{{STATIC_URL}}js/common.js"></script>
</html>



