<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>习题</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/welcome.css" />
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/fontAuto.js"></script>
	</head>
	<body>
		<div class="wel-head">
			<div class="select">
				<div class="select-default"></div>
				<select class="form-select">
					<option>第一章</option>
					<option>第二章</optgroup>
				</select>
			</div>
			<!--<select class="form-select">
				<option>第一章</option>
				<option>第二章</optgroup>
			</select>-->
		</div>
		<div class="wel-main">
			<h2>第一题：</h2>
			<div class="wel-main-contain">
				<p>根据以下现象选择正确的观点：</p>
				<img src="images/welcome/pic1.png" alt="图片1" />
				<ul class="wel-contain-option">
					<li class="clearfix">
						<i>A.</i>
						<span>车尾向外侧转动，碰撞行人</span>
					</li>
					<li class="clearfix">
						<i>B.</i>
						<span>急速旋转，翻车</span>
						
					</li>
					<li class="clearfix">
						<i>C.</i>
						<span>货物超大，挡住视线</span>
					</li>
				</ul>
			</div>
			<div class="wel-main-answer">正确答案：C</div>
			<input type="button" class="wel-main-next" value="下一题" />
		</div>
	</body>
</html>
